

<div class="question" style="display:inline">
	<p> What is the square root of 36?</p>

	<form>
		<input class="response" type="text"><br><br>
		<input type="button" class="nextQ" id="1" value="Next Question">
	</form>

</div>

<div class="question" style="display:none">
	<p>What year was the Declaration of Independence signed?</p>

	<form>
		<input class="response" type="text"><br><br>
		<input type="Submit" class="nextQ" id="2" value="Next Question">
	</form>

</div>

<div class="question" style="display:none">
	<p>What is the capitol city of Spain?</p>

	<form>
		<input class="response" type="text"><br><br>
		<input type="Submit" class="submit" value="Check Results">
	</form>
	
</div>


<p class="result">  </p>