

<div class="q1" style="display:inline">
	<p> What is the square root of 36?</p>

	<form>
		<input class="response" type="text"><br><br>
		<input type="button" class="submit" id="1" value="Check Results">
	</form>

</div>


<p class="result">  </p>